USE [master]
GO
/****** Object:  Database [kargo_veritabani]    Script Date: 28.04.2022 13:50:50 ******/
CREATE DATABASE [kargo_veritabani]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'kargo_veritabani', FILENAME = N'D:\MSSQL SERVER\MSSQL15.SQLEXPRESS03\MSSQL\DATA\kargo_veritabani.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'kargo_veritabani_log', FILENAME = N'D:\MSSQL SERVER\MSSQL15.SQLEXPRESS03\MSSQL\DATA\kargo_veritabani_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [kargo_veritabani].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [kargo_veritabani]
GO
/****** Object:  Table [dbo].[alici]    Script Date: 28.04.2022 13:50:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[alici](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ad] [nvarchar](20) NOT NULL,
	[soyad] [nvarchar](12) NOT NULL,
	[tel_no] [nvarchar](11) NOT NULL,
 CONSTRAINT [PK_alici] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[arac]    Script Date: 28.04.2022 13:50:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[arac](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[plaka] [nvarchar](8) NOT NULL,
	[personel_id] [int] NOT NULL,
 CONSTRAINT [PK_arac] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[musteri]    Script Date: 28.04.2022 13:50:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[musteri](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tc_no] [nvarchar](11) NOT NULL,
	[ad] [nvarchar](20) NOT NULL,
	[soyad] [nvarchar](12) NOT NULL,
	[tel_no] [nvarchar](11) NOT NULL,
	[e_posta] [nvarchar](50) NOT NULL,
	[adres] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_musteri] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[paket]    Script Date: 28.04.2022 13:50:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[paket](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[yukseklik] [int] NULL,
	[en] [int] NULL,
	[derinlik] [int] NULL,
	[agirlik] [int] NULL,
	[icerik] [nvarchar](15) NOT NULL,
	[adres] [nvarchar](100) NOT NULL,
	[subeye_verme_tarihi] [date] NOT NULL,
	[yola_cikma_tarihi] [date] NULL,
	[varma_tarihi] [date] NULL,
	[alicinin_alma_tarihi] [date] NULL,
	[ucret] [float] NOT NULL,
	[odeyen_kisi] [bit] NOT NULL,
	[alici_id] [int] NOT NULL,
	[gonderici_id] [int] NULL,
	[tuzel_gonderici_id] [int] NULL,
	[arac_id] [int] NULL,
	[islem_yapan_personel_id] [int] NOT NULL,
	[gonderilen_sube_id] [int] NOT NULL,
	[alici_sube_id] [int] NOT NULL,
	[paket_no] [nchar](8) NULL,
 CONSTRAINT [PK_paket] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[personel]    Script Date: 28.04.2022 13:50:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[personel](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tc_no] [nvarchar](11) NOT NULL,
	[ad] [nvarchar](20) NOT NULL,
	[soyad] [nvarchar](12) NOT NULL,
	[tel_no] [nvarchar](11) NOT NULL,
	[e_posta] [nvarchar](50) NOT NULL,
	[yetki_id] [int] NOT NULL,
	[sube_id] [int] NOT NULL,
	[sifre] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_personel] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sehirler_arasi_mesafe]    Script Date: 28.04.2022 13:50:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sehirler_arasi_mesafe](
	[sehir_1] [nvarchar](20) NOT NULL,
	[sehir_2] [nvarchar](20) NOT NULL,
	[varma_suresi] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sube]    Script Date: 28.04.2022 13:50:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sube](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[adi] [nvarchar](15) NOT NULL,
	[kargo_miktari] [int] NOT NULL,
 CONSTRAINT [PK_sube] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tuzel_musteri]    Script Date: 28.04.2022 13:50:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tuzel_musteri](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[sirket_ismi] [nvarchar](50) NOT NULL,
	[tel_no] [nvarchar](11) NOT NULL,
	[e_posta] [nvarchar](50) NOT NULL,
	[adres] [nvarchar](100) NOT NULL,
	[indirim] [int] NOT NULL,
 CONSTRAINT [PK_tuzel_musteri] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[yetki]    Script Date: 28.04.2022 13:50:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[yetki](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[adi] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_yetki] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[alici] ON 

INSERT [dbo].[alici] ([id], [ad], [soyad], [tel_no]) VALUES (1, N'Fatma', N'Demir', N'5574681247')
INSERT [dbo].[alici] ([id], [ad], [soyad], [tel_no]) VALUES (2, N'Seda', N'Öz', N'5547851236')
INSERT [dbo].[alici] ([id], [ad], [soyad], [tel_no]) VALUES (3, N'Kaan', N'Özdil', N'5581234756')
SET IDENTITY_INSERT [dbo].[alici] OFF
GO
SET IDENTITY_INSERT [dbo].[musteri] ON 

INSERT [dbo].[musteri] ([id], [tc_no], [ad], [soyad], [tel_no], [e_posta], [adres]) VALUES (1, N'35741238445', N'Ali', N'Kanık', N'5547851236', N'aliknk@gmail.com', N'Konya/Meram Akıncılar mah. dere Sokak güler Apt. No:45')
INSERT [dbo].[musteri] ([id], [tc_no], [ad], [soyad], [tel_no], [e_posta], [adres]) VALUES (2, N'45781235447', N'Ayşe', N'Soydan', N'5547821465', N'soydanayse41@gmail.com', N'Ankara/Kızılay Bağcılar Mah. Gölbaşı Sokak Esenler Apt. No:13')
INSERT [dbo].[musteri] ([id], [tc_no], [ad], [soyad], [tel_no], [e_posta], [adres]) VALUES (3, N'12478623110', N'Saffet', N'Onurlu', N'5041257893', N'saffetonrlu@gmail.com', N'ANKARA/Çamlıca Uzay Cad. 1253.Sokak No:12')
SET IDENTITY_INSERT [dbo].[musteri] OFF
GO
SET IDENTITY_INSERT [dbo].[paket] ON 

INSERT [dbo].[paket] ([id], [yukseklik], [en], [derinlik], [agirlik], [icerik], [adres], [subeye_verme_tarihi], [yola_cikma_tarihi], [varma_tarihi], [alicinin_alma_tarihi], [ucret], [odeyen_kisi], [alici_id], [gonderici_id], [tuzel_gonderici_id], [arac_id], [islem_yapan_personel_id], [gonderilen_sube_id], [alici_sube_id], [paket_no]) VALUES (1, 2, 2, 1, 3, N'Koli', N'İzmir/Bergama Tüzer Mah. Önem Sokak No:4', CAST(N'2022-04-28' AS Date), NULL, NULL, NULL, 18, 1, 16, 15, NULL, NULL, 3, 1, 5, N'10000002')
INSERT [dbo].[paket] ([id], [yukseklik], [en], [derinlik], [agirlik], [icerik], [adres], [subeye_verme_tarihi], [yola_cikma_tarihi], [varma_tarihi], [alicinin_alma_tarihi], [ucret], [odeyen_kisi], [alici_id], [gonderici_id], [tuzel_gonderici_id], [arac_id], [islem_yapan_personel_id], [gonderilen_sube_id], [alici_sube_id], [paket_no]) VALUES (2, 5, 10, 5, 12, N'Koli', N'İzmir/Alcancak Keçeciler Mah. Buzludere Sokak No:89', CAST(N'2022-04-28' AS Date), NULL, NULL, NULL, 20, 0, 17, 16, NULL, NULL, 3, 1, 5, N'10000003')
INSERT [dbo].[paket] ([id], [yukseklik], [en], [derinlik], [agirlik], [icerik], [adres], [subeye_verme_tarihi], [yola_cikma_tarihi], [varma_tarihi], [alicinin_alma_tarihi], [ucret], [odeyen_kisi], [alici_id], [gonderici_id], [tuzel_gonderici_id], [arac_id], [islem_yapan_personel_id], [gonderilen_sube_id], [alici_sube_id], [paket_no]) VALUES (3, 2, 2, 1, 2, N'Koli', N'İzmir/Bergama Akıncı Mah. Sancak Sokak No:8', CAST(N'2022-04-28' AS Date), NULL, NULL, NULL, 22, 0, 18, 17, NULL, NULL, 3, 1, 5, N'10000004')
SET IDENTITY_INSERT [dbo].[paket] OFF
GO
SET IDENTITY_INSERT [dbo].[personel] ON 

INSERT [dbo].[personel] ([id], [tc_no], [ad], [soyad], [tel_no], [e_posta], [yetki_id], [sube_id], [sifre]) VALUES (1, N'25467582110', N'Emin', N'Akın', N'5541957841', N'eminakn45@gmail.com', 4, 5, N'254687')
INSERT [dbo].[personel] ([id], [tc_no], [ad], [soyad], [tel_no], [e_posta], [yetki_id], [sube_id], [sifre]) VALUES (2, N'22464582140', N'Ayça', N'Karaer', N'5584712365', N'ayca456@gmail.com', 4, 5, N'541236')
INSERT [dbo].[personel] ([id], [tc_no], [ad], [soyad], [tel_no], [e_posta], [yetki_id], [sube_id], [sifre]) VALUES (3, N'12345678901', N'Emre', N'Taş', N'5032003040', N'emre@gmail.com', 1, 1, N'12345')
SET IDENTITY_INSERT [dbo].[personel] OFF
GO
SET IDENTITY_INSERT [dbo].[sube] ON 

INSERT [dbo].[sube] ([id], [adi], [kargo_miktari]) VALUES (1, N'İstanbul', 20)
INSERT [dbo].[sube] ([id], [adi], [kargo_miktari]) VALUES (2, N'Konya', 14)
INSERT [dbo].[sube] ([id], [adi], [kargo_miktari]) VALUES (3, N'Ankara', 1)
SET IDENTITY_INSERT [dbo].[sube] OFF
GO
SET IDENTITY_INSERT [dbo].[tuzel_musteri] ON 

INSERT [dbo].[tuzel_musteri] ([id], [sirket_ismi], [tel_no], [e_posta], [adres], [indirim]) VALUES (2, N'trendyol', N'5547365142', N'trendyol@outlook.com', N'cadde 54 İZMİR/kordon', 20)
INSERT [dbo].[tuzel_musteri] ([id], [sirket_ismi], [tel_no], [e_posta], [adres], [indirim]) VALUES (3, N'amazon', N'5471257456', N'amazon@amazon.com', N'alaca avm yanı MUĞLA', 20)
INSERT [dbo].[tuzel_musteri] ([id], [sirket_ismi], [tel_no], [e_posta], [adres], [indirim]) VALUES (4, N'n11', N'4556324020', N'n11@n11.com', N'Huzur Mah. Maslak Ayazağa Cad. 4B
Sarıyer / İSTANBUL', 10)
SET IDENTITY_INSERT [dbo].[tuzel_musteri] OFF
GO
SET IDENTITY_INSERT [dbo].[yetki] ON 

INSERT [dbo].[yetki] ([id], [adi]) VALUES (1, N'Admin')
INSERT [dbo].[yetki] ([id], [adi]) VALUES (2, N'Müdür')
INSERT [dbo].[yetki] ([id], [adi]) VALUES (3, N'Şube Çalışanı')
SET IDENTITY_INSERT [dbo].[yetki] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_arac]    Script Date: 28.04.2022 13:50:51 ******/
ALTER TABLE [dbo].[arac] ADD  CONSTRAINT [IX_arac] UNIQUE NONCLUSTERED 
(
	[plaka] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_musteri]    Script Date: 28.04.2022 13:50:51 ******/
ALTER TABLE [dbo].[musteri] ADD  CONSTRAINT [IX_musteri] UNIQUE NONCLUSTERED 
(
	[tc_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_personel]    Script Date: 28.04.2022 13:50:51 ******/
ALTER TABLE [dbo].[personel] ADD  CONSTRAINT [IX_personel] UNIQUE NONCLUSTERED 
(
	[tc_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[arac]  WITH CHECK ADD  CONSTRAINT [FK_arac_personel] FOREIGN KEY([personel_id])
REFERENCES [dbo].[personel] ([id])
GO
ALTER TABLE [dbo].[arac] CHECK CONSTRAINT [FK_arac_personel]
GO
ALTER TABLE [dbo].[paket]  WITH CHECK ADD  CONSTRAINT [FK_paket_alici] FOREIGN KEY([alici_id])
REFERENCES [dbo].[alici] ([id])
GO
ALTER TABLE [dbo].[paket] CHECK CONSTRAINT [FK_paket_alici]
GO
ALTER TABLE [dbo].[paket]  WITH CHECK ADD  CONSTRAINT [FK_paket_arac] FOREIGN KEY([arac_id])
REFERENCES [dbo].[arac] ([id])
GO
ALTER TABLE [dbo].[paket] CHECK CONSTRAINT [FK_paket_arac]
GO
ALTER TABLE [dbo].[paket]  WITH CHECK ADD  CONSTRAINT [FK_paket_musteri] FOREIGN KEY([gonderici_id])
REFERENCES [dbo].[musteri] ([id])
GO
ALTER TABLE [dbo].[paket] CHECK CONSTRAINT [FK_paket_musteri]
GO
ALTER TABLE [dbo].[paket]  WITH CHECK ADD  CONSTRAINT [FK_paket_personel] FOREIGN KEY([islem_yapan_personel_id])
REFERENCES [dbo].[personel] ([id])
GO
ALTER TABLE [dbo].[paket] CHECK CONSTRAINT [FK_paket_personel]
GO
ALTER TABLE [dbo].[paket]  WITH CHECK ADD  CONSTRAINT [FK_paket_sube] FOREIGN KEY([gonderilen_sube_id])
REFERENCES [dbo].[sube] ([id])
GO
ALTER TABLE [dbo].[paket] CHECK CONSTRAINT [FK_paket_sube]
GO
ALTER TABLE [dbo].[paket]  WITH CHECK ADD  CONSTRAINT [FK_paket_sube1] FOREIGN KEY([alici_sube_id])
REFERENCES [dbo].[sube] ([id])
GO
ALTER TABLE [dbo].[paket] CHECK CONSTRAINT [FK_paket_sube1]
GO
ALTER TABLE [dbo].[paket]  WITH CHECK ADD  CONSTRAINT [FK_paket_tuzel_musteri] FOREIGN KEY([tuzel_gonderici_id])
REFERENCES [dbo].[tuzel_musteri] ([id])
GO
ALTER TABLE [dbo].[paket] CHECK CONSTRAINT [FK_paket_tuzel_musteri]
GO
ALTER TABLE [dbo].[personel]  WITH CHECK ADD  CONSTRAINT [FK_personel_sube] FOREIGN KEY([sube_id])
REFERENCES [dbo].[sube] ([id])
GO
ALTER TABLE [dbo].[personel] CHECK CONSTRAINT [FK_personel_sube]
GO
ALTER TABLE [dbo].[personel]  WITH CHECK ADD  CONSTRAINT [FK_personel_yetki] FOREIGN KEY([yetki_id])
REFERENCES [dbo].[yetki] ([id])
GO
ALTER TABLE [dbo].[personel] CHECK CONSTRAINT [FK_personel_yetki]
GO
USE [master]
GO
